<div style="margin: 20px;">
    <h1>Add New Product</h1>
    <form method="post" action="{{ url_for('add_product') }}"> <!-- Updated action attribute -->
        <label for="name">Name:</label>
        <input type="text" id="name" name="name"><br><br>
        <label for="price">Price:</label>
        <input type="text" id="price" name="price"><br><br>
        <label for="quantity">Quantity:</label>
        <input type="text" id="quantity" name="quantity"><br><br>
        <label for="supplier">Supplier ID:</label>
        <input type="text" id="supplier" name="supplier"><br><br>
        <input type="submit" value="Add Product">
    </form>
</div>

